<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations <%= @user.email %>, your listing has been posted!</h1>
    <p>This is a confirmation email. You do not have to do anything.</p>
    <p>Best of luck!</p>
  </body>
</html>