/** CSS SPECIFICALLY FOR HOME PAGE (Views > Pages > home.html.erb) **/

.section-title-a {
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.see-more {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

/** - - - - - SECTION 1: HERO - - - - - **/

.hero {
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
    /* background-image: url("../resources/images/hero_background_image.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 900;
}

/** - - - - - SECTION 2: CATEGORIES - - - - - **/

.categories {
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
    background-color: #fff;
}

.category-items {
    text-align: center;
}

.category-items p {
    margin: 0;
}

.categories img {
    margin: 0.5rem;
    border-radius: 12px;
    max-height: 15rem;
    height: auto;
    width: 90%;
}

.category-title {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

/** - - - - - SECTION 3: LISTINGS - - - - - **/
.how-it-works {
    text-align: center;
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
    background: lightcoral;
}

.how-it-works-title {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.how-it-works-subtitle {
    font-size: 1rem;
}


/** - - - - - SECTION 4: LISTINGS - - - - - **/

.home-listings {
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
    background-color: #fff;
}

.home-listing-items {
    text-align: left;
}

.home-listing-items p {
    margin: 0;
}

.home-listings img {
    margin: 0.5rem;
    border-radius: 12px;
    max-height: 15rem;
    height: auto;
    width: 90%;
}

.home-listings-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.home-listings-category {
    font-size: 1.25rem;
    margin: 0;
}

.home-listings-price {
    font-size: 1.25rem;
}

/** - - - - - SECTION 5: VALUE PROPOSITION - - - - - **/
.vp-one {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.vp-one-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.vp-one-image img {
    width: 200px;
    height: 200px;
}

.vp-two {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.vp-header-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.vp-header-section img {
    height: 50px;
    width: 50px;
}

.vp-header {
    font-size: 1.2rem;
    margin: 0;
    margin-right: 12px;
}

.vp-body {
    font-size: 1.1rem;
    margin-top: 12px;
}