/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/** - - - - - GENERAL - - - - - **/

.message-button {
    margin-bottom: 12px;
}


/** - - - - - NAV BAR - - - - - **/
.nav-bar-features {
    
    width: 100%;
    opacity: 0.95;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #e4e4e4;
}

.navbar a {
    color: rgb(72, 72, 72) !important;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: .20rem solid transparent;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.nav-log {
padding-bottom: 6px;
}

/** - - - - - FORMS - - - - - **/

/* General */

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.form-box {
    width: 100%

}

.listing-container {
    background-color: #ddd;
    padding: 24px;
    border-radius: 5px;
}

.form-headers {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

/* Listing form */

.listing-form-title {
    font-size: 1.2rem;
    margin-bottom: 0;
    
}

.list-form-top-spacer {
    margin-top: 10px;
}

.list-form-bottom-spacer {
    margin-bottom: 10px;
}


/** - - - - - LISTINGS - - - - - **/

/* Index page */
.listings-section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px #ddd solid;
}

.listings-title {
    font-size: 1.75rem;
    margin: 0;
}

.listings-category {
    font-size: 1.4rem;
}

.listings-seller-section {
    display: flex;
    flex-wrap: wrap;
}

.listings-seller-section img {
    margin-left: 6px;
    margin-top: 4px;
    height: 1rem;
    width: 1rem;
}


.listings-seller {
    font-weight: 100;
    margin-bottom: 0;
}

.listings-review {
    font-weight: 100;
    color: #6f9ceb;
}

.listings-price {
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.rating-bar {
    display: flex;
    flex-wrap: wrap;
}

.rating-bar img {
    width: 1rem;
    height: 1rem;
}

/* Show page */

.listing-image-section {
    height: auto;
    width: auto;
    text-align: center;
}

.listing-image-section img {
    width: 90%;
    height: auto;
}

.listing-title {
    font-size: 2rem;
    margin-bottom: 0;
}

.listing-category {
    font-size: 1.5rem;
}

.listing-description {
    font-size: 1rem;
}

.listing-details {
    margin-top: 1.5rem;
}

.listing-description-title {
    font-size: 1.5rem;
}

.seller-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    border: 1px #ddd solid;
}

.seller-box {
    text-align: center;
    padding: 2rem;
    margin: 0.5rem;
    width: 100%;
}

.seller-box button {
    margin-top: 6px;
    width: auto;
}

.listing-box button {
    text-align: center;
}


/******** TESTING SELLER-BOX *********/


.listing-box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
    border: 1px #ddd solid;
}

.listing-box {
    text-align: center;
    padding: 2rem;
    margin: 0.5rem;
    width: 100%;
}
/*
.listing-box-button {
    text-align: center;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 3px;
} */

.listing-price {
    font-size: 1.5rem;
    text-align: center;
    align-items: middle;
}

/** - - - - - CATEGORIES - - - - - **/

/* Categories */

.category-section {
    text-align: center;
}

.category-section-button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-show-section {
    border-bottom: 1px #ddd solid;
}

.category-section img {
    height: auto;
    width: 80%;
    border-radius: 12px;
}

.category-button {
    margin-bottom: 3rem;
    text-align: center;
}

/* Category */

.category-section-lhs {
    text-align: center;
}

.category-section-lhs img {
    width: 300px;
    height: 300px;
}

.category-section-rhs {
    display: flex;
    flex-wrap: wrap;
}

.category-section-title {
    font-size: 4rem;
}

